<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Preview picture</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>



    <form class="form" action="">
        <label class="form__label-file" for="photos">Загрузить фото</label>
        <input class="form__input-file" type="file" name="photos" id="photos" multiple>
    </form>


    <ul class="images"></ul>



    <script id="photo-template" type="text/html">
            <img src="{{image}}" alt="{{name}}" title="{{name}}" class="images__img">
            <a href="#" title="Удалить" class="images__delete">❌</a>
    </script>




    <script src="mustage.js"></script>
    <script src="script.js"></script>
</body>
</html>