body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body *{
    box-sizing: inherit;
}


/* Form */

.form__input-file{
    position: absolute;
    opacity: 0;
}

.form__label-file{
    display: inline-block;
    color: #fff;
    padding: 20px;
    background-color: #48535a;
    text-align: center;
    cursor: pointer;
    transition: .3s all;
}

.form__label-file:hover{
    background-color: #2b3236;
}



/* Images */

.images__item {
    position: relative;
    display: inline-block;
    margin: 30px;
}

.images__img{
    width: 150px;
    border-radius: 3px;
}

.images__delete {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    background-color: #555;
    border-radius: 50%;
    color: #fff;
    transition: .5s all;
}

.images__delete:hover {
    color:crimson;
    background-color: #fff;
}


